.hero-image {
    background-image: url("neongloria-edited.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
}